<div class="container">
  <header>
    <h1>Rabobank CSV Importer</h1>
  </header>


  <div class="importer">
    <button type="button" mat-raised-button (click)="fileInput.click()">Kies CSV</button>
<input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
  </div>

  <header class="table__header">
    <h2 *ngFor="let item of files">
      {{item.name}}
    </h2>
  </header>

  <section>
    <input type="number" name="minimalIssues" #minimalIssues id="">
    <button (click)="filterOnIssueCount()" >Filter</button>
  </section>


<table class="table" *ngIf="cleanedProps">
  <thead>
      <th  *ngFor="let prop of cleanedProps">{{prop}}</th>
  </thead>
  <tr  *ngFor="let contentItem of filteredFileContent">
      <td *ngFor="let item of contentItem">{{item.value}}</td>
  </tr>
</table>



</div>